section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
}

section:first-child {
  height: 30vh;
}

section:first-child h1 {
  color: white;
  font-size: 150%;
  text-shadow: 0 0 8px #000;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.parallax span {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

}

.mask {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60%;
  width: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.static {
  background: white;
  box-shadow: var(--box-shadow-3dp-reverse);
  padding-bottom: 10vh;
  position: relative;
}

.text-section {
  padding: 8vh 0 5vh 0;
  margin-top: 0;
}

.project-time {
  font-family: Times !important;
  color: #777 !important;
}

.abstract {
  font-style: italic;
  width: 80%;
  font-family: Times !important;
  margin: 1em auto;

}

.in-text-img img {
  width: 100%;
}

.in-text-img p {
  font-size: 80%;
  text-align: right;
  color: #777;
}

.in-text-img.small-img img{
  width: 70%;
  margin: 0 auto;
  display: block;

}

/* the check-out-more box at the bottom */
.check-out-more-box {
  display: block;
  box-shadow: var(--box-shadow-3dp);
  padding: 15px 0;
  margin: 2em auto;
  border: 1px solid var(--border-color);
  font-family: sans-serif;
  font-weight: 500;
  max-width: 320px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.check-out-more-box p {
  margin: 0.5em 1em;
}

.check-out-more-anchor {
  text-decoration: none;
}

.check-out-more-label {
  font-size: 80%;
  color: #777;
}

.check-out-more-title {
  font-size: 100%;
  font-weight: 700;
  color: var(--p-font-color);
}

.check-out-more-description {
  font-size: 100%;
  color: #777;
}

.check-out-more-box:hover {
  box-shadow: var(--box-shadow-8dp);
}

.featured-project {
  position: absolute;
  top: 12px;
  right: 2vw;
  /*padding: 5px 10px;*/
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 80%;
  /*color: var(--theme-color);*/
  /*border: 1px solid var(--theme-color);*/
  letter-spacing: 0.08em;
  color: #777;
}

/* desktop */
@media only screen and (min-width: 1024px) {
  /* on desktop, enable the parallax effect */
  main {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }


  section:first-child {
    height: 70vh;
  }

  .parallax span {
    transform: translateZ(-1px) scale(1.74);
  }
}
