/* begin: nav bar */

nav.no-shadow {
	box-shadow: none;
	transition-duration: 300ms;
}

nav.shadow {
	box-shadow: var(--box-shadow-8dp);
	transition-duration: 300ms;
}

/* end: nav bar */
/* begin: flip cards */

.slick-list {
	height: 400px;
}

.slick-track {
	height: 376px;
}

.flipCardContainer {
	width: 290px;
	height: 380px;
	border: 1px solid var(--border-color);
	box-shadow: var(--box-shadow-3dp);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0 6px 12px;
	display: inline-block;
}

.flipCardContainer:hover {
	box-shadow: var(--box-shadow-8dp);
	border-color: #00000030;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

#view-more-button {
	border: 2px solid var(--actions-color);
	box-shadow: none;
	width: 12em;
	display: block;
	margin: 2em auto 5em;
	padding: 1em 3em;
	text-decoration: none;
	text-align: center;
	letter-spacing: 2px;
	font-size: 100%;
	font-family: sans-serif;
	box-sizing: border-box;
}

#view-more-button:hover {
	background-color: #39647122;
	transition: ease-in-out 0.3s;
}

.imageContainer {
	width: 100%;
	height: 130px;
	overflow: hidden;
	position: relative;
	background-position: center;
	background-size: cover;
}

.imageContainer img{
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.textContainer {
	margin: 1em;
	text-align: left;
}

.flipCardContainer-wrapper {
	display: inline-block;
	position: relative;
}
/*
.featured-project::after, .spinning-star {
	content:'';
	background-image: url(../asset/icons/star.svg);
	position: absolute;
	top: 110px;
	right: 12px;
	background-size: cover;
	height: 36px;
	width: 38px;
}*/

.spinning-star {
	height: 18px;
	width: 19px;
	position: initial;
	content: none;
	display: inline-block;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

main {
	padding-top: 120px;
	padding-bottom: 30px;
}

h2 {
	margin:0;
	font-weight: 500;
	font-size: 140%;
}

.text-section h2 {
	font-size: 120%;
	text-align: center;
}

.textContainer p {
	max-height: 6em;
	font-size: 80%;
	overflow: auto;
}

.bottomActionButton {
	text-align: center;
	line-height: 3em;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 3em;
	cursor: pointer;
	color: var(--actions-color);
	letter-spacing: 0.1em;
	font-weight: 200;
	background-color: white;
}

.bottomActionButton:hover {
	color: #9b616e;
	transition: ease-in-out 0.2s;
}

.bottomActionButton::before {
	content: '';
	width: 94%;
	height: 1px;
	background-color: var(--border-color);
	position: absolute;
	top:0;
	left: 50%;
	transform: translateX(-50%);
}

/* end: flip cards */

/* about section */
#about {
	font-family: sans-serif;
}

div.list-small {
	list-style-type: none;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
}

div.list-small div {
	display: inline-block;
}

div.list-small div a {
	display: block;
	text-align: left;
	width: 8em;
	margin: 5px;
	text-decoration: none;
	padding: 15px;
	font-size: 20px;
	height: 48px;
	border-radius: 6px;
}

.list-label {
	display: block;
	vertical-align: middle;
	margin-left: 60px;
	line-height: 48px;
}

div.list-small div a img {
	height: 48px;
	float: left;
}

#email-button {
	cursor: pointer;
}

/* start: footer */
footer {
	padding: 2em;
	text-align: center;
	background: #333;
	color: white;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 160%;
	font-size: 80%;
}

h2.subtitle {
	font-family: sans-serif;
	font-size: 130%;
	padding: 1em 0;
	font-weight: 300;
	text-align: center;
}

/* desktop */
@media only screen and (min-width: 916px) {
	.flipCardContainer {
		display: inline-block;
		margin: 12px 6px;
	}

	.flipCardContainer p {
		line-height: 130%;
	}

	.flipCards {
		/*text-align: center;*/
		max-width: 916px;
		margin: 0 auto;
	}

	div.list-small div a:hover {
		background-color: #f0f0f0;
		transition-duration: 300ms;
	}

	.collapsible {
		border-bottom: 1px var(--border-color) solid;
		max-width: 916px;
		margin: 0 auto;
	}

	.collapsible:last-child {
		border-bottom: none;
	}

	.collapsible>section>h2 {
		cursor: pointer;
		margin: 0;
		position: relative;
	}

	.collapsible>section>h2:hover {
		background-color: #fafafa;
		transition: ease-in-out 0.4s;
	}

	.collapsible>section>h2:hover::after {
		content: '+';
		position: absolute;
		right: 30px;
		color: #aaa;
		font-weight: bold;
	}

	.collapsible .flipCards{
		background-color: white;
		display: none;
	}

	.collapsible.expanded>section>h2:hover::after {
		content: '-';
	}

	.collapsible.expanded .flipCards {
		display: block;
		transition: 0.2s ease-in-out;
	}

/*	.featured-project::after, .spinning-star {
		animation: spin 6s infinite linear;
		-webkit-animation: spin 6s infinite linear;
	}*/

}
