body {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 150%;
}

h2 {
	font-weight: 100;
	font-size: 120%;
	text-align: center;
}

h2 a {
	color: #777;
}

h2.instructions {
	text-align: left;
}

.hidden {
	display: none;
}

#introduction {
	max-width: 800px;
	margin: 20px auto 50px;
}

#introduction input {
    border-radius: 10px;
    border: #999 1px solid;
    padding: 10px 20px;
    font-size: 100%;
}

#introduction input:hover {
	border-color: #63BBFF;
}

#error-message {
	font-size: 80%;
	color: red;
	margin-top: 0.5em;
}

.images {
	width: 80vw;
	max-width: 800px;
	height: 26.8vw;
	max-height: 268px;
	margin: 0 auto;
	position: relative;
}

.images div {
	width: 48%;
	height: 96%;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	position: relative;
}

.images div span {
	display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px black;
    font-size: 200%;
    color: white;
}

.images div:hover {
	box-shadow: inset 0 0 0 15px #63BBFF99;
	transition: 200ms ease-out;
}

.images div.selected {
	box-shadow: inset 0 0 0 15px #63BBFF;
}

.ui-widget-header {
	background: #63BBFF 50% 50% repeat-x!important;
}

.display {
	opacity: 1!important;
	transition-duration: 200ms;
}

#image2 {
	float: right;
}

#progressbar, #preload-progressbar {
    height:10px;
    width: 300px;
    margin: 30px auto 20px;
    max-width: 70%;
 }

#problem-number {
 	font-size: 90%;
 	text-align: center;
 }

#current-problem {
 	font-size: 200%;
 }

.next-button {
 	width: 80vw;
	max-width: 800px;
	margin: 30px auto;
	clear: both;
 }

.next-button a {
 	/*float: right;*/
 	background-color: #63BBFF;
 	border-radius: 999px;
 	border: #63BBFF 3px solid;
 	padding: 10px 0;
 	font-weight: 700;
 	font-size: 90%;
 	letter-spacing: 2px;
 	opacity:0;
 	width: 100%;
 	text-align: center;
 	display: block;
}

.next-button a.display {
 	cursor: pointer;
}

.next-button a:hover {
 	background-color: white;
 	transition-duration: 200ms;
}

#introduction p {
	font-size: 80%;
	clear: both;
	text-align: right;
}

#survey iframe {
	margin: 0 auto;
	display: block;
}

#mobile-warning {
	display: none;
}

#preload {
	opacity: 0;
}

/* desktop */
@media only screen and (max-width: 800px) {
	#introduction, #main-test, #survey {
		display: none;
	}

	#mobile-warning {
		display: block;
	}
}